@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Samar
                <span class="text-primary">Singhai</span>
            </h1>
            <div class="subheading mb-5">
                Indian Institue of Technology Hyderabad 
                <a href="mailto:samarsinghai26@email.com">samarsinghai26@email.com</a>
            </div>
            <p class="lead mb-5">A pre-final year undergraduate student at IIT Hyderabad. I am a Web Developer, competitive programmer and a fast learner. I am experienced in developing robust websites, APIs for web and mobile applications. I also have fun building some bots.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/samar-singhai/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/samar2605"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://twitter.com/samar_singhai"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Development Intern</h3>
                    <div class="subheading mb-3">Deusexvolt Electric Private Limited</div>
                    <p>Soving real world problems with this startup. Building a highly responsive robust website with lots of APIs for web and mobile applications. Handling flow of data and creating new databases.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2022 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Developer</h3>
                    <div class="subheading mb-3">Media Council, Student Gymkhana IITH</div>
                    <p>Build a new website for the Students gymkhana and maintained the old website for an year. Contributed with three more members had fun building new stuff for campus.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July 2021 - May 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Computer Science, Subject Matter Expert</h3>
                    <div class="subheading mb-3">Chegg</div>
                    <p>Everyone has queries, and we all need someone to answer our questions. I helped many students by being an expert by solving their queries.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2021 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Robotix Club Coordinator</h3>
                    <div class="subheading mb-3">Scitech Council, IIT Hyderabad</div>
                    <p>Proactively working for the club and managing a team of more than 30 members, their projects and all the events related to club. Helping students find the right pathway for getting into robotics. Building awesome stuff.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2022 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Teaching Assistant</h3>
                    <div class="subheading mb-3">Department of CSE, IIT Hyderabad</div>
                    <p>Helped many students with their doubts during learning process and evaluated their codes in the end.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">December 2021 - March 2022</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Indian Institute of Technology</h3>
                    <div class="subheading mb-3">Bachelor of Technology</div>
                    <div>Biomedical Engineering</div>
                    <p>CGPA: 8.94</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">November 2020 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">JNV Katni (M.P.)</h3>
                    <div class="subheading mb-3">Senior Secondary</div>
                    <p>Percentage: 93.8%</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">April 2017 - March 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">JNV Katni (M.P.)</h3>
                    <div class="subheading mb-3">Higher Secondary</div>
                    <p>CGPA: 10</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">April 2015 - March 2017</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                <li class="list-inline-item"><i class="fab fa-react"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                <li class="list-inline-item"><i class="fab fa-less"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            </ul>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fa-solid fa-c"></i></li>
                <li class="list-inline-item"><i class="fab fa-python"></i></li>
                <li class="list-inline-item"><i class="fab fa-git"></i></li>
                <li class="list-inline-item"><i class="fab fa-github"></i></li>
                <li class="list-inline-item"><i class="fab fa-yarn"></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile Development 
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a web developer, I enjoy most of my time being outdoors. I love wandering in the nature and feeling the breezes.</p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows. I read lots of fiction & non-fiction books. I spend a large amount of my free time exploring the psychology and understanding human behaviour just like all overthinkers.</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Awards & Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Academic Excellence Award - 1st rank in Department for AY2020-21
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    4
                    <sup>th</sup>
                    Place - Milan Hackathon - Inter Hostel Competition 2022
                </li>
            </ul>
        </div>
    </section>
</div>
